


.styleCard {
    background: rgba(247, 221, 170, 0.493);
    margin: 10%;
    padding: 6%;
    max-width: 100%;
    border-radius: 6%;
    display: inline-block;
    clear: both;
    transition: all 400ms ease;
    box-sizing: content-box;
    max-height: 100%;
    border-style:inherit;
    
    
  }
  
  .styleCard:hover {
    box-shadow: 4px 8px 10px 4px rgb(255, 111, 0);
    transform: translateY(-3%);
    width: 50%;
  }
  
  .imgCard {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 6px 8px 0 black;
    
  }

  .imgCard:hover {
    box-shadow: 0 6px 8px 0 black;
  }

  .datos {
    text-decoration-line:none;
    font-family: "Merienda", cursive; 
    color: black;
    text-align: center;
    font-size: 100%;
  }