#searchCountry {
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    display: inline;
    outline: none;
    border: 1.5px solid black;
    width: 30%;
    height: 15%;
    background-color: rgba(233, 209, 175, 0.816);
    box-shadow: 0 2px 2px 0 rgba(228, 126, 9, 0.844);
 
    
}

.btn {
    outline: none;
    border-radius: 5px;
    background-color: rgb(213, 120, 43);
    border: 1px solid black;
    color: white;
    text-decoration: bold;
    font-family: 'Merienda', cursive;
    box-shadow: 0 4px 4px 0 black;
    margin: 10px;
    margin-right: 30%;
}

.btn:hover {
    cursor: pointer;
    color:rgba(233, 209, 175, 0.816);
    background: rgb(99, 62, 25);
    letter-spacing: 3px;
}

